.mask-left-svg {
  background-image: url('../../../assets/mask-left.svg');
  background-repeat: repeat-y;
  background-size: 32px 4px;
}

.mask-right-svg {
  background-image: url('../../../assets/mask-right.svg');
  background-repeat: repeat-y;
  background-size: 32px 4px;
}
